{
    "tabWidth": 4,
    "arrowParens": "avoid",
    "singleQuote": false,
    "overrides": [
        {
            "files": ["**/*.js"],
            "options": {
                "singleQuote": true
            }
        }
    ]
}
